$blue: #0000EC;
$bluedark: #0000A3;
$white: white;
$black: black;
$greensoft: #00F3BB;
$font_mono: 'IBM Plex Mono', monospace;
$font_sans: 'IBM Plex Sans', sans-serif;
$px10: 10px;
$px16: 16px;
$px20: 20px;
$px24: 24px;
$px30: 30px;
$px36: 36px;
$px40: 40px;
$px42: 42px;
$px48: 48px;
$px80: 80px;
$px768: 768px;
